<h1>Insira o seu usuário</h1>
<form method="POST" action="/painel/registro-resultado">
    <input type="search" name="nome" placeHolder="Digite o seu nome de usuário" value="{{value}}"/><br/>
    <input type="number" name="age" placeHolder="Digite a sua idade"/><br/>
    <input type="submit" name="mais" value="+" />
    <input type="submit" name="menos" value="-" />
    <input type="submit" name="del" value="Delete" />
    <input type="submit" name="send" value="Enviar" />
    <input type="reset">
</form>