{{>partials/header}}

<h2>Qual seu nome?</h2>
<form method="GET">
    <input type="text" name="nome" placeHolder="Digite o seu nome"/><br/>
    <input type="submit" value="Enviar" />
</form>

<hr/>

{{#nome}}
    Opa {{nome}}, tudo bem?
{{/nome}}